<button class="btn btn-primary">Create Blog</button>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <th scope="row">{{ post.id }}</th>
      <td>{{ post.title }}</td>
      <td>{{ post.content }}</td>
      <td><button class="btn btn-danger">Delete Blog</button></td>
      <td><button class="btn btn-primary">Update Blog</button></td>
    </tr>
  </tbody>
</table>